html,
body {
	padding: 0;
	margin: 2em;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
	box-sizing: border-box;
}

fieldset {
	position: absolute;
	opacity: 1;
	transition: opacity 2s;
	border: none;
}

fieldset:valid,
fieldset:invalid + fieldset {
	opacity: 0;
	pointer-events: none;
}

[type="radio"] {
	display: none;
}

[type="radio"]:checked + label img {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg) scale(5);
	}
}
